.App {
    background-color: rgba(26, 25, 25, 0.12);
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.quiz-container {
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
}



